html {
	--pgsny:#222;
	--mxltq:#292929;
	--pjrzs:rgba(255,255,255,.1);
	--clnmd:#d6d6d6;
	--jfqdu:#609fff;
	--rhyly:#888;
	--utudl:#333;
	--ufsda:#2f2f2f;
	--pqtlo:#717171;
	--haqlb:#333;
	--acvea:#fff;
	--jtrfk:orange;
	--kinwb:#777;
	--dcnyv:#999;
	--fwbje:#000;
	--jbpuh:#aaa;
	--mevlb:#666;
	--gknre:#aaa;
	--sabxt:#c7c7c7;
	--ivunt:#222;
	--uwnje:grayscale(.6);
	--xviwg:#3b7bbF;
	--mxfgh:#4CAF50;
}
html:not([dark="true"]):not([cs-fullscreen="true"]) {
	--pgsny:#fff;
	--mxltq:#dadada;
	--pjrzs:rgba(0,0,0,.29);
	--clnmd:#111;
	--jfqdu:#065fd4;
	--rhyly:#888;
	--utudl:#ddd;
	--ufsda:#eee;
	--pqtlo:#9f9f9f;
	--haqlb:#ccc;
	--acvea:#222;
	--jtrfk:darkcyan;
	--kinwb:#555;
	--dcnyv:#e5e5e5;
	--jbpuh:#222;
	--mevlb:#ccc;
	--gknre:crimson;
	--sabxt:#3b7bbF;
	--ivunt:#fff;
	--ghudr:#888;
	--uwnje:none;
}
[hidden] {
	display:none !important;
}
cs-app {
	display:block;
	background:var(--pgsny);
	color:var(--clnmd);
	position:fixed;
	z-index:9999999999;
	bottom:0;
	transform:translateZ(0);
	box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	font-size:14px;
	line-height:20px;
	cursor:default;
	font-family:Roboto,arial,sans-serif;
}
cs-app * {
	position:relative;
	box-sizing:border-box;
	outline:none !important;
	overflow:hidden;
}
cs-app a {
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}
cs-app input,
cs-app img {
	width:100%;
}
cs-app svg {
	display:block;
	fill:currentColor;
	stroke:currentColor;
	stroke-width:0;
}
.ahbmh::-webkit-scrollbar {
	display:none !important;
}
.kaebx::after {
	content:"";
	display:block;
	width:100%;
	height:60%;
}
.zljmd {
	user-select:none;
}
.hcjqs {
	user-select:text;
}
.qhvsb {
	width:100%;
	height:100%;
}
.qfqgs {
	background:var(--pgsny);
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
	user-select:none;
}
.emcji {
	width:100%;
	height:100%;
}
.yugsm > *,
.wdehn {
	padding-top:56px;
}
.lomfg {
	overflow-y:scroll;
}
.lomfg::-webkit-scrollbar {
	display:none !important;
}
.esmwq {
	display:flex;
	flex-flow:column;
}
.fcxfs {
	pointer-events:none;
	user-select:none;
}
.wyjte {
	color:inherit;
	background:none;
	border:none;
}
.rqhbl {
	text-decoration:underline;
}
.nwaqy {
	display:flex;
}
.osrpv {
	display:flex;
	height:100%;
	flex-flow:column;
	align-items:center;
	text-align:center;
}
.tsmfg {
	display:flex;
	align-items:center;
	justify-content:center;
}
.gvgns {
	display:flex;
	align-items:center;
}
.bvauf {
	display:flex;
	flex-flow:column;
}
.qemna {
	flex-grow:1;
}
.jskud {
	flex-shrink:0;
}
.wfvch {
	margin-top:auto;
}
.blnxq {
	position:absolute;
	background-color:transparent;
	z-index:1;
}
.zasdt {
	left:-4px;
}
.xnrvp {
	right:-4px;
}
.oawtk {
	width:10px;
	height:100%;
	cursor:ew-resize;
}
.piuku {
	top:0;
	height:20px;
	width:100%;
	cursor:move;
}
.mxjqt {
	z-index:2;
	top:-4px;
	height:8px;
	width:100%;
	cursor:ns-resize;
}
.hygvm {
	z-index:3;
	top:-6px;
	width:16px;
	height:16px;
}
.pseur {
	left:-6px;
	cursor:nwse-resize;
}
.rtvpj {
	right:-6px;
	cursor:nesw-resize;
}
.qpzms {
	opacity:.5;
	transition:opacity 300ms;
}
.qpzms:hover {
	opacity:1;
}
.sixdp {
	z-index:1;
	position:absolute;
	top:16px;
	right:14px;
	height:24px;
	width:24px;
	padding:5px;
}
.zizue {
	position:absolute;
	width:24px;
	height:24px;
	top:14px;
	left:15px;
	transition:visibility 300ms, opacity 300ms;
}
.zizue[state="hidden"] {
	opacity:0;
	visibility:hidden;
}
.jvswl {
	height:56px;
	padding-right:44px;
	background-color:var(--mxltq);
	padding-left:20px;
}
.jvswl input {
	flex:1;
	font-size:16px;
}
.jvswl input::placeholder {
	color:var(--pjrzs);
	-webkit-font-smoothing:antialiased;
	font-size:15px;
}
.jvswl input:focus::placeholder {
	opacity:0;
}
.jvswl input:not(:focus)::placeholder {
	opacity:1;
	transition:opacity 250ms ease-in;
}
.krije {
	border-bottom:2px solid;
	border-radius:4px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	padding:2px 5px 0;
	min-width:31px;
	font-size:12px;
	text-align:center;
	transition:border-color 250ms, color 250ms;
	background-color:var(--haqlb);
	border-color:var(--jtrfk);
	color:var(--acvea);
	opacity:.7;
}
.krije:hover {
	opacity:1;
}
.krije[state="disabled"] {
	color:var(--kinwb);
	border-color:#0000;
	opacity:1;
}
.aimyx {
	margin-top:16px;
	padding-left:20px;
	padding-right:40px;
}
.xuxdt {
	padding-bottom:20px;
	user-select:text;
}
.xuxdt:not(:first-child) {
	margin-left:56px;
}
.xuxdt:not(:first-child) .wglor {
	width:24px;
	height:24px;
}
.vfojf:before {
	content:"";
	display:block;
	height:100%;
	width:2px;
	background:var(--utudl);
	position:absolute;
	left:11px;
}
.xuxdt.rpnmn {
	display:none;
}
.wglor {
	background-color:var(--ufsda);
	background-size:100%;
	width:40px;
	height:40px;
	margin-right:16px;
	border-radius:50%;
}
.bkrqm {
	display:inline-block;
	color:inherit;
	font-weight:500;
	line-height:18px;
}
.kfepj {
	fill:var(--pqtlo);
	width:13px;
	height:13px;
	margin-top:2px;
	margin-left:4px;
}
.oyfyk {
	color:var(--rhyly);
	line-height:18px;
	margin-left:6px;
}
.oyfyk:hover {
	color:inherit;
}
.iktpm .oyfyk {
	display:none;
}
.cbjsq {
	width:auto;
	height:auto;
	display:-webkit-box;
	word-break: break-word;
}
.cbjsq[dir="rtl"] {
	-webkit-box-orient:vertical;
	-webkit-box-align:end;
}
.cbjsq:lang(ar) {
	font-family:sans-serif;
	font-size:medium;
}
.cbjsq a {
	color:var(--jfqdu);
}
.dcktz {
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	word-break:break-word;
}
.pxzxn {
	height:20px;
	margin-bottom:2px;
	font-size:13px;
	line-height:normal;
}
.xeqtq {
	padding:20px;
	text-align:center;
}
.xeqtq a {
	text-decoration:underline;
}
.mulhg {
	background:#000;
	margin-top:12px;
	padding-bottom:56.25%;
}
.vdcoe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.ywemi {
	color:var(--jbpuh);
	padding:56px 20px;
	padding-right:38px;
}
.bwnai {
	font-size:large;
	margin-bottom:18px;
}
.hucyf {
	margin-bottom:15px;
}
.kvsdy {
	margin-bottom:15px;
}
.lonbj {
	margin-bottom:7px;
}
.bglnd {
	padding-left:25px;
}
.bglnd div {
	margin-bottom:2px;
}
.vciwg {
	display:inline;
	background-color:var(--dcnyv);
	color:var(--fwbje);
	border-radius:2px;
	letter-spacing:1px;
	padding:1px 6px 2px;
	margin:0 3px;
	line-height:normal;
	font-size:smaller;
	font-family:monospace;
}
.czwbr {
	max-width:500px;
	padding:0 40px;
	margin:auto;
}
.foldh {
	margin-bottom:12px;
	font-size:24px;
	line-height:24px;
}
.itflm {
	width:325px;
	filter:var(--uwnje);
}
.aosek {
	margin: 10px;
	font-size: small;
	font-style: italic;
}
.bejis {
	width: 100%;
	margin: 15px 0;
	text-align: center;
}
.cqwtk input {
	border-bottom:1px solid;
	padding-bottom:4px;
	font-size:15px;
	text-align:center;
	border-color:var(--mevlb);
}
.qdrcn {
	height:20px;
	padding:1px;
	font-size:smaller;
	color:var(--gknre);
}
.jlfjm {
	position:absolute;
	bottom:0;
	height:1px;
	width:100%;
	background-color:none;
}
.jlfjm[state="loading"],
.jlfjm[state="waiting"] {
	height:2px;
	background-color:var(--sabxt);
}
.jlfjm[state="loading"] {
	animation:progress 1s ease infinite;
}
.jlfjm[state="waiting"] {
	width:33%;
	animation:progressWaiting 2s linear infinite;
}
.jlfjm[state="error"] {
	background-color:var(--gknre);
}
.twvtr {
	top:0;
	height:2px !important;
}
.twvtr[state="error"] {
	background-color:crimson;
}
@keyframes progress {
	0%		{ left:0%; width:0% }
	25%		{ left:0%; width:33% }
	75%		{ left:33%; width:60% }
	100%	{ left:100%; width:50% }
}
@keyframes progressWaiting {
	0%		{ left:-33% }
	100%	{ left:100% }
}
.gzfcg {
	display:flex;
	align-items:center;
	justify-content:center;
	height:38px;
	padding:0 18px;
	border-radius:3px;
	border:1px solid;
	border-color:var(--sabxt);
	color:var(--sabxt);
	transition:filter 200ms;
}
.gzfcg:last-child {
	border:none;
	background-color:var(--sabxt);
	color:var(--ivunt);
}
.gzfcg:hover {
	filter:brightness(.9);
}
.gzfcg:active {
	filter:brightness(.8);
}
.gzfcg[state="disabled"] {
	background-color:var(--ghudr);
}
.gzfcg .atpuz {
	width:20px;
	height:20px;
	margin-left:5px;
}
.pniuy {
	display:flex;
	height:38px;
	margin:20px auto 25px;
}
.pniuy .gzfcg {
	margin-right:10px;
}
.pniuy .gzfcg:last-child {
	margin-right:0;
}
.ophmd {
	margin-top:50px;
}
.wnhbm {
	height:32px;
	font-size:26px;
}
.gcwky {
	height:20px;
}
.ptwde {
	font-size:32px;
}
.ptwde:after {
	content:'USD';
	font-size:12px;
	margin-left:5px;
	margin-top:13px;
}
.aqkna {
	width:170px;
	margin-top:3px;
	padding-top:1px;
	border-top:1px solid;
	font-size:12px;
}
.qsdvb {
	background-color:var(--xviwg) !important;
	color:#fff !important;
	width:240px;
	border-radius:25px;
}
.nbgqz {
	background-color:var(--mxfgh) !important;
	transition:background-color 500ms;
}
.xyjhd {
	overflow:visible;
}