html {
	--nayfz:#222;
	--qsbug:#292929;
	--cakgh:rgba(255,255,255,.1);
	--nknie:#d6d6d6;
	--omfkz:#609fff;
	--cilca:#888;
	--vgvgh:#333;
	--xgnzr:#2f2f2f;
	--badrg:#717171;
	--taiqe:#333;
	--tpwya:#fff;
	--ckvdi:orange;
	--dueou:#777;
	--gtprl:#999;
	--jylop:#000;
	--hijku:#aaa;
	--xqtet:#666;
	--neqve:#aaa;
	--swnuh:#c7c7c7;
	--dhmhi:#222;
	--mulxe:grayscale(.6);
	--snuzd:#3b7bbF;
	--phlxu:#4CAF50;
}
html:not([dark="true"]):not([cs-fullscreen="true"]) {
	--nayfz:#fff;
	--qsbug:#dadada;
	--cakgh:rgba(0,0,0,.29);
	--nknie:#111;
	--omfkz:#065fd4;
	--cilca:#888;
	--vgvgh:#ddd;
	--xgnzr:#eee;
	--badrg:#9f9f9f;
	--taiqe:#ccc;
	--tpwya:#222;
	--ckvdi:darkcyan;
	--dueou:#555;
	--gtprl:#e5e5e5;
	--hijku:#222;
	--xqtet:#ccc;
	--neqve:crimson;
	--swnuh:#3b7bbF;
	--dhmhi:#fff;
	--zwzlj:#888;
	--mulxe:none;
}
[hidden] {
	display:none !important;
}
cs-app {
	display:block;
	background:var(--nayfz);
	color:var(--nknie);
	position:fixed;
	z-index:9999999999;
	bottom:0;
	transform:translateZ(0);
	box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	font-size:14px;
	line-height:20px;
	cursor:default;
	font-family:Roboto,arial,sans-serif;
}
cs-app * {
	position:relative;
	box-sizing:border-box;
	outline:none !important;
	overflow:hidden;
}
cs-app a {
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}
cs-app input,
cs-app img {
	width:100%;
}
cs-app svg {
	display:block;
	fill:currentColor;
	stroke:currentColor;
	stroke-width:0;
}
.imuhk::-webkit-scrollbar {
	display:none !important;
}
.bdjvn::after {
	content:"";
	display:block;
	width:100%;
	height:60%;
}
.wzwth {
	user-select:none;
}
.vpltx {
	user-select:text;
}
.uswtp {
	width:100%;
	height:100%;
}
.qvdtr {
	background:var(--nayfz);
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
	user-select:none;
}
.ycisc {
	width:100%;
	height:100%;
}
.zlndu > *,
.ogunb {
	padding-top:56px;
}
.eqzko {
	overflow-y:scroll;
}
.eqzko::-webkit-scrollbar {
	display:none !important;
}
.pvbyx {
	display:flex;
	flex-flow:column;
}
.oryiy {
	pointer-events:none;
	user-select:none;
}
.slbht {
	color:inherit;
	background:none;
	border:none;
}
.bcvfw {
	text-decoration:underline;
}
.nkajk {
	display:flex;
}
.yvrjq {
	display:flex;
	height:100%;
	flex-flow:column;
	align-items:center;
	text-align:center;
}
.nkzij {
	display:flex;
	align-items:center;
	justify-content:center;
}
.gmkto {
	display:flex;
	align-items:center;
}
.myrvx {
	display:flex;
	flex-flow:column;
}
.dtxzi {
	flex-grow:1;
}
.enyvr {
	flex-shrink:0;
}
.karkw {
	margin-top:auto;
}
.usebo {
	position:absolute;
	background-color:transparent;
	z-index:1;
}
.mrjfx {
	left:-4px;
}
.axmif {
	right:-4px;
}
.bzvdo {
	width:10px;
	height:100%;
	cursor:ew-resize;
}
.wqhwq {
	top:0;
	height:20px;
	width:100%;
	cursor:move;
}
.qzwpd {
	z-index:2;
	top:-4px;
	height:8px;
	width:100%;
	cursor:ns-resize;
}
.hacpm {
	z-index:3;
	top:-6px;
	width:16px;
	height:16px;
}
.gdlgx {
	left:-6px;
	cursor:nwse-resize;
}
.zxkoe {
	right:-6px;
	cursor:nesw-resize;
}
.bkbvb {
	opacity:.5;
	transition:opacity 300ms;
}
.bkbvb:hover {
	opacity:1;
}
.sbfyp {
	z-index:1;
	position:absolute;
	top:16px;
	right:14px;
	height:24px;
	width:24px;
	padding:5px;
}
.pycwu {
	position:absolute;
	width:24px;
	height:24px;
	top:14px;
	left:15px;
	transition:visibility 300ms, opacity 300ms;
}
.pycwu[state="hidden"] {
	opacity:0;
	visibility:hidden;
}
.otevt {
	height:56px;
	padding-right:44px;
	background-color:var(--qsbug);
	padding-left:20px;
}
.otevt input {
	flex:1;
	font-size:16px;
}
.otevt input::placeholder {
	color:var(--cakgh);
	-webkit-font-smoothing:antialiased;
	font-size:15px;
}
.otevt input:focus::placeholder {
	opacity:0;
}
.otevt input:not(:focus)::placeholder {
	opacity:1;
	transition:opacity 250ms ease-in;
}
.kyabg {
	border-bottom:2px solid;
	border-radius:4px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	padding:2px 5px 0;
	min-width:31px;
	font-size:12px;
	text-align:center;
	transition:border-color 250ms, color 250ms;
	background-color:var(--taiqe);
	border-color:var(--ckvdi);
	color:var(--tpwya);
	opacity:.7;
}
.kyabg:hover {
	opacity:1;
}
.kyabg[state="disabled"] {
	color:var(--dueou);
	border-color:#0000;
	opacity:1;
}
.mdnda {
	margin-top:16px;
	padding-left:20px;
	padding-right:40px;
}
.npjeb {
	padding-bottom:20px;
	user-select:text;
}
.npjeb:not(:first-child) {
	margin-left:56px;
}
.npjeb:not(:first-child) .omgql {
	width:24px;
	height:24px;
}
.isvpd:before {
	content:"";
	display:block;
	height:100%;
	width:2px;
	background:var(--vgvgh);
	position:absolute;
	left:11px;
}
.npjeb.zofrs {
	display:none;
}
.omgql {
	background-color:var(--xgnzr);
	background-size:100%;
	width:40px;
	height:40px;
	margin-right:16px;
	border-radius:50%;
}
.rqecx {
	display:inline-block;
	color:inherit;
	font-weight:500;
	line-height:18px;
}
.ibhnh {
	fill:var(--badrg);
	width:13px;
	height:13px;
	margin-top:2px;
	margin-left:4px;
}
.fkmvg {
	color:var(--cilca);
	line-height:18px;
	margin-left:6px;
}
.fkmvg:hover {
	color:inherit;
}
.mgrqt .fkmvg {
	display:none;
}
.fzcko {
	width:auto;
	height:auto;
	display:-webkit-box;
	word-break: break-word;
}
.fzcko[dir="rtl"] {
	-webkit-box-orient:vertical;
	-webkit-box-align:end;
}
.fzcko:lang(ar) {
	font-family:sans-serif;
	font-size:medium;
}
.fzcko a {
	color:var(--omfkz);
}
.fsyvt {
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	word-break:break-word;
}
.copkn {
	height:20px;
	margin-bottom:2px;
	font-size:13px;
	line-height:normal;
}
.kqjfl {
	padding:20px;
	text-align:center;
}
.kqjfl a {
	text-decoration:underline;
}
.zlgqu {
	background:#000;
	margin-top:12px;
	padding-bottom:56.25%;
}
.pudhq {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.urdlk {
	color:var(--hijku);
	padding:56px 20px;
	padding-right:38px;
}
.thzaq {
	font-size:large;
	margin-bottom:18px;
}
.wgwpr {
	margin-bottom:15px;
}
.ixmwk {
	margin-bottom:15px;
}
.qozwi {
	margin-bottom:7px;
}
.szcby {
	padding-left:25px;
}
.szcby div {
	margin-bottom:2px;
}
.zypdm {
	display:inline;
	background-color:var(--gtprl);
	color:var(--jylop);
	border-radius:2px;
	letter-spacing:1px;
	padding:1px 6px 2px;
	margin:0 3px;
	line-height:normal;
	font-size:smaller;
	font-family:monospace;
}
.jhdek {
	max-width:500px;
	padding:0 40px;
	margin:auto;
}
.bcfuo {
	margin-bottom:12px;
	font-size:24px;
	line-height:24px;
}
.mauof {
	width:325px;
	filter:var(--mulxe);
}
.wavxn {
	margin: 10px;
	font-size: small;
	font-style: italic;
}
.hgemj {
	width: 100%;
	margin: 15px 0;
	text-align: center;
}
.lzsbg input {
	border-bottom:1px solid;
	padding-bottom:4px;
	font-size:15px;
	text-align:center;
	border-color:var(--xqtet);
}
.vkoqp {
	height:20px;
	padding:1px;
	font-size:smaller;
	color:var(--neqve);
}
.mtadp {
	position:absolute;
	bottom:0;
	height:1px;
	width:100%;
	background-color:none;
}
.mtadp[state="loading"],
.mtadp[state="waiting"] {
	height:2px;
	background-color:var(--swnuh);
}
.mtadp[state="loading"] {
	animation:progress 1s ease infinite;
}
.mtadp[state="waiting"] {
	width:33%;
	animation:progressWaiting 2s linear infinite;
}
.mtadp[state="error"] {
	background-color:var(--neqve);
}
.cbsju {
	top:0;
	height:2px !important;
}
.cbsju[state="error"] {
	background-color:crimson;
}
@keyframes progress {
	0%		{ left:0%; width:0% }
	25%		{ left:0%; width:33% }
	75%		{ left:33%; width:60% }
	100%	{ left:100%; width:50% }
}
@keyframes progressWaiting {
	0%		{ left:-33% }
	100%	{ left:100% }
}
.nrudy {
	display:flex;
	align-items:center;
	justify-content:center;
	height:38px;
	padding:0 18px;
	border-radius:3px;
	border:1px solid;
	border-color:var(--swnuh);
	color:var(--swnuh);
	transition:filter 200ms;
}
.nrudy:last-child {
	border:none;
	background-color:var(--swnuh);
	color:var(--dhmhi);
}
.nrudy:hover {
	filter:brightness(.9);
}
.nrudy:active {
	filter:brightness(.8);
}
.nrudy[state="disabled"] {
	background-color:var(--zwzlj);
}
.nrudy .zlasw {
	width:20px;
	height:20px;
	margin-left:5px;
}
.thglg {
	display:flex;
	height:38px;
	margin:20px auto 25px;
}
.thglg .nrudy {
	margin-right:10px;
}
.thglg .nrudy:last-child {
	margin-right:0;
}
.nsgsk {
	margin-top:50px;
}
.sgprs {
	height:32px;
	font-size:26px;
}
.cdrbs {
	height:20px;
}
.kivur {
	font-size:32px;
}
.kivur:after {
	content:'USD';
	font-size:12px;
	margin-left:6px;
	margin-top:12px;
}
.oprda {
	width:170px;
	margin-top:3px;
	padding-top:1px;
	border-top:1px solid;
	font-size:12px;
}
.fcoub {
	background-color:var(--snuzd) !important;
	color:#fff !important;
	width:240px;
	border-radius:25px;
	font-style:italic;
}
.xfqmj {
	background-color:var(--phlxu) !important;
	transition:background-color 500ms;
}
.pcwsj {
	overflow:visible;
}