html {
	--gjnjz:#222;
	--upknv:#292929;
	--fyqak:rgba(255,255,255,.1);
	--oszxf:#d6d6d6;
	--gdmwr:#609fff;
	--antqp:#888;
	--kxoeq:#333;
	--qkgoh:#2f2f2f;
	--mglcl:#717171;
	--pvcew:#666;
	--vuckn:#333;
	--glksc:#fff;
	--qnxcf:orange;
	--wmgrx:#777;
	--bikwo:#999;
	--ldevg:#000;
	--wrony:#aaa;
	--gwfym:#666;
	--gmxug:#aaa;
	--zgluv:#c7c7c7;
	--hjzax:#222;
	--stazl:grayscale(.6);
	--phxwh:#3b7bbF;
	--rmysc:#4CAF50;
}
html:not([dark="true"]):not([cs-fullscreen="true"]) {
	--gjnjz:#fff;
	--upknv:#dadada;
	--fyqak:rgba(0,0,0,.29);
	--oszxf:#111;
	--gdmwr:#065fd4;
	--antqp:#888;
	--kxoeq:#ddd;
	--qkgoh:#eee;
	--mglcl:#9f9f9f;
	--vuckn:#ccc;
	--glksc:#222;
	--qnxcf:darkcyan;
	--wmgrx:#555;
	--bikwo:#e5e5e5;
	--wrony:#222;
	--gwfym:#ccc;
	--gmxug:crimson;
	--zgluv:#3b7bbF;
	--hjzax:#fff;
	--lsbku:#888;
	--stazl:none;
}
[hidden] {
	display:none !important;
}
cs-app {
	display:block;
	background:var(--gjnjz);
	color:var(--oszxf);
	position:fixed;
	z-index:9999999999;
	bottom:0;
	transform:translateZ(0);
	box-shadow:0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
	font-size:14px;
	line-height:20px;
	cursor:default;
	font-family:Roboto,arial,sans-serif;
}
cs-app * {
	position:relative;
	box-sizing:border-box;
	outline:none !important;
	overflow:hidden;
}
cs-app a {
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}
cs-app input,
cs-app img {
	width:100%;
}
cs-app svg {
	display:block;
	fill:currentColor;
	stroke:currentColor;
	stroke-width:0;
}
.hijam::-webkit-scrollbar {
	display:none !important;
}
.esube::after {
	content:"";
	display:block;
	width:100%;
	height:60%;
}
.orfcp {
	user-select:none;
}
.uzyuz {
	user-select:text;
}
.lebux {
	width:100%;
	height:100%;
}
.egxdy {
	background:var(--gjnjz);
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
	user-select:none;
}
.ufmba {
	width:100%;
	height:100%;
}
.yanrt > *,
.hvzsm {
	padding-top:56px;
}
.rkuvn {
	overflow-y:scroll;
}
.rkuvn::-webkit-scrollbar {
	display:none !important;
}
.xlfli {
	display:flex;
	flex-flow:column;
}
.kvbpw {
	pointer-events:none;
	user-select:none;
}
.zjxtb {
	color:inherit;
	background:none;
	border:none;
}
.xwjsn {
	text-decoration:underline;
}
.jitil {
	display:flex;
}
.qectp {
	display:flex;
	height:100%;
	flex-flow:column;
	align-items:center;
	text-align:center;
}
.pkcmy {
	display:flex;
	align-items:center;
	justify-content:center;
}
.rxskc {
	display:flex;
	align-items:center;
}
.ulsku {
	display:flex;
	flex-flow:column;
}
.zbrew {
	flex-grow:1;
}
.qkcwo {
	flex-shrink:0;
}
.joinz {
	margin-top:auto;
}
.avcvn {
	position:absolute;
	background-color:transparent;
	z-index:1;
}
.ovtjm {
	left:-4px;
}
.uqgyh {
	right:-4px;
}
.umkhx {
	width:10px;
	height:100%;
	cursor:ew-resize;
}
.aqfdb {
	top:0;
	height:20px;
	width:100%;
	cursor:move;
}
.gbdln {
	z-index:2;
	top:-4px;
	height:8px;
	width:100%;
	cursor:ns-resize;
}
.jcwak {
	z-index:3;
	top:-6px;
	width:16px;
	height:16px;
}
.qxjbm {
	left:-6px;
	cursor:nwse-resize;
}
.yvirh {
	right:-6px;
	cursor:nesw-resize;
}
.cjevr {
	opacity:.5;
	transition:opacity 300ms;
}
.cjevr:hover {
	opacity:1;
}
.lbqkr {
	z-index:1;
	position:absolute;
	top:16px;
	right:14px;
	height:24px;
	width:24px;
	padding:5px;
}
.mipwx {
	position:absolute;
	width:24px;
	height:24px;
	top:14px;
	left:15px;
	transition:visibility 300ms, opacity 300ms;
}
.mipwx[state="hidden"] {
	opacity:0;
	visibility:hidden;
}
.fxgzv {
	height:56px;
	padding-right:44px;
	background-color:var(--upknv);
	padding-left:20px;
}
.fxgzv input {
	flex:1;
	font-size:16px;
}
.fxgzv input::placeholder {
	color:var(--fyqak);
	-webkit-font-smoothing:antialiased;
	font-size:15px;
}
.fxgzv input:focus::placeholder {
	opacity:0;
}
.fxgzv input:not(:focus)::placeholder {
	opacity:1;
	transition:opacity 250ms ease-in;
}
.ydsvo {
	border-bottom:2px solid;
	border-radius:4px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	padding:2px 5px 0;
	min-width:31px;
	font-size:12px;
	text-align:center;
	transition:border-color 250ms, color 250ms;
	background-color:var(--vuckn);
	border-color:var(--qnxcf);
	color:var(--glksc);
	opacity:.7;
}
.ydsvo:hover {
	opacity:1;
}
.ydsvo[state="disabled"] {
	color:var(--wmgrx);
	border-color:#0000;
	opacity:1;
}
.pnrlm {
	margin-top:16px;
	padding-left:20px;
	padding-right:40px;
}
.nznat {
	padding-bottom:20px;
	user-select:text;
}
.nznat:not(:first-child) {
	margin-left:56px;
}
.nznat:not(:first-child) .sghxn {
	width:24px;
	height:24px;
}
.iohlp:before {
	content:"";
	display:block;
	height:100%;
	width:2px;
	background:var(--kxoeq);
	position:absolute;
	left:11px;
}
.nznat.pzpzc {
	display:none;
}
.sghxn {
	background-color:var(--qkgoh);
	background-size:100%;
	width:40px;
	height:40px;
	margin-right:16px;
	border-radius:50%;
}
.cqkrw {
	display:inline-block;
	color:inherit;
	font-weight:500;
	line-height:18px;
}
.whtao {
	fill:var(--mglcl);
	width:13px;
	height:13px;
	margin-top:2px;
	margin-left:4px;
}
.pfkbx {
	color:var(--antqp);
	line-height:18px;
	margin-left:6px;
}
.pfkbx:hover {
	color:inherit;
}
.uvqyt .pfkbx {
	display:none;
}
.qpaek {
	width:auto;
	height:auto;
	display:-webkit-box;
	word-break: break-word;
}
.qpaek[dir="rtl"] {
	-webkit-box-orient:vertical;
	-webkit-box-align:end;
}
.qpaek:lang(ar) {
	font-family:sans-serif;
	font-size:medium;
}
.qpaek a {
	color:var(--gdmwr);
}
.gzlnl {
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	word-break:break-word;
}
.bhxsr {
	height:20px;
	margin-bottom:2px;
	font-size:13px;
	line-height:normal;
}
.urost {
	padding:20px;
	text-align:center;
}
.urost a {
	text-decoration:underline;
}
.izhpc {
	background:#000;
	margin-top:12px;
	padding-bottom:56.25%;
}
.gpfxi {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.ubvao {
	color:var(--wrony);
	padding:56px 20px;
	padding-right:38px;
}
.lhsbz {
	font-size:large;
	margin-bottom:18px;
}
.fvzvs {
	margin-bottom:15px;
}
.eoyoc {
	margin-bottom:15px;
}
.ieofo {
	margin-bottom:7px;
}
.kysoq {
	padding-left:25px;
}
.kysoq div {
	margin-bottom:2px;
}
.gkcri {
	display:inline;
	background-color:var(--bikwo);
	color:var(--ldevg);
	border-radius:2px;
	letter-spacing:1px;
	padding:1px 6px 2px;
	margin:0 3px;
	line-height:normal;
	font-size:smaller;
	font-family:monospace;
}
.sgucv {
	max-width:500px;
	padding:0 40px;
	margin:auto;
}
.sgucv > * {
	flex-shrink:0;
}
.cycdj {
	margin-bottom:12px;
	font-size:24px;
	line-height:24px;
}
.zytsf {
	width:325px;
	filter:var(--stazl);
}
.nfmct {
	margin: 10px;
	font-size: small;
	font-style: italic;
}
.vqndo {
	width: 100%;
	margin: 15px 0;
	text-align: center;
}
.gniti input {
	border-bottom:1px solid;
	padding-bottom:4px;
	font-size:15px;
	text-align:center;
	border-color:var(--gwfym);
}
.isxet {
	height:20px;
	padding:1px;
	font-size:smaller;
	color:var(--gmxug);
}
.vaxfb {
	position:absolute;
	bottom:0;
	height:1px;
	width:100%;
	background-color:none;
}
.vaxfb[state="loading"],
.vaxfb[state="waiting"] {
	height:2px;
	background-color:var(--zgluv);
}
.vaxfb[state="loading"] {
	animation:progress 1s ease infinite;
}
.vaxfb[state="waiting"] {
	width:33%;
	animation:progressWaiting 2s linear infinite;
}
.vaxfb[state="error"] {
	background-color:var(--gmxug);
}
.pcxol {
	top:0;
	height:2px !important;
}
.pcxol[state="error"] {
	background-color:crimson;
}
@keyframes progress {
	0%		{ left:0%; width:0% }
	25%		{ left:0%; width:33% }
	75%		{ left:33%; width:60% }
	100%	{ left:100%; width:50% }
}
@keyframes progressWaiting {
	0%		{ left:-33% }
	100%	{ left:100% }
}
.lbclu {
	display:flex;
	align-items:center;
	justify-content:center;
	height:38px;
	padding:0 18px;
	border-radius:3px;
	border:1px solid;
	border-color:var(--zgluv);
	color:var(--zgluv);
	transition:filter 200ms;
}
.lbclu:last-child {
	border:none;
	background-color:var(--zgluv);
	color:var(--hjzax);
}
.lbclu:hover {
	filter:brightness(.9);
}
.lbclu:active {
	filter:brightness(.8);
}
.lbclu[state="disabled"] {
	background-color:var(--lsbku);
}
.lbclu .fmjua {
	width:20px;
	height:20px;
	margin-left:5px;
}
.hayts {
	display:flex;
	height:38px;
	margin:20px auto 25px;
}
.hayts .lbclu {
	margin-right:10px;
}
.hayts .lbclu:last-child {
	margin-right:0;
}
.syfud {
	margin-top:50px;
}
.uxmip {
	height:32px;
	font-size:26px;
}
.tqyvm {
	height:20px;
}
.rtagt {
	display:flex;
	align-items:center;
	justify-content:center;
	width:50px;
	margin:0 4px;
	border:1px solid;
	border-color:var(--pvcew);
	border-radius:2px;
	font-size:14px;
}
.rtagt[state="selected"] {
	border:none;
	background-color:var(--zgluv);
	color:var(--hjzax);
}
.dibhy {
	margin-top:4px;
	padding-top:1px;
	font-size:12px;
}
.nlnjk {
	background-color:var(--phxwh) !important;
	color:#fff !important;
	width:240px;
	border-radius:25px;
}
.oagso {
	background-color:var(--rmysc) !important;
	transition:background-color 500ms;
}
.sgvmt {
	overflow:visible;
}
.bcatp {
	margin-top:20px;
}